<footer>
    <p>
        This website is <a href="https://github.com/FewerTeam/BeaconMC/tree/website" target="_blank">Open Source</a>
    </p>
    <p>
        Made by <a href="https://github.com/EletrixtimeYT" target="_blank">EletrixTime</a>, <a href="https://github.com/FewerElk" target="_blank">FewerElk</a>, <a href="https://github.com/mickbot-92" target="_blank">@mickbot-92</a> and designed by <a href="https:/liamgenjs.vercel.app" target="_blank" style="color: #0888de">liamgen.js</a>
    </p>
</footer>